PORT=3004

NODE_ENV=development

DATABASE_URL=postgresql://postgres:password@postgres-notification:5432/notification_db

RABBITMQ_URL=amqp://rabbitmq

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=example@gmail.com
SMTP_PASSWORD=your_password

