
########################################
# Node
########################################

node_modules/

########################################
# Environment
########################################

.env
.env.*

!.env.example

########################################
# Logs
########################################

logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

########################################
# Coverage
########################################

coverage/

########################################
# Build
########################################

dist/
build/

########################################
# Prisma
########################################

prisma/dev.db

########################################
# Uploads
########################################

uploads/

########################################
# IDE
########################################

.vscode/
.idea/

########################################
# OS
########################################

.DS_Store
Thumbs.db

########################################
# Temporary
########################################

.tmp
.cache

########################################
# Docker
########################################

docker-data/

########################################
# Test
########################################

.nyc_output/


