PORT=3000

NODE_ENV=development

JWT_SECRET=your_jwt_secret

AUTH_SERVICE_URL=http://auth-service:3001
PROJECT_SERVICE_URL=http://project-service:3002
TASK_SERVICE_URL=http://task-service:3003
NOTIFICATION_SERVICE_URL=http://notification-service:3004
FILE_SERVICE_URL=http://file-service:3005

REDIS_URL=redis://redis:6379

