PORT=3005

NODE_ENV=development

DATABASE_URL=postgresql://postgres:password@postgres-file:5432/file_db

MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=task-management

